<form class="form-horizontal" id='form-asset-update' method='post' action='{{url ""}}/apis/assets/{{assets.id}}?type={{rxt.shortName}}' data-redirect-url='{{url ""}}/assets/{{rxt.shortName}}/details/' style="
  margin-top: -8px">
    <!--<div class="control-group">-->
        <!--{{#each assets.tables}}-->
            <!--{{renderTable . id=../assets.id mode="edit"}}-->
        <!--{{/each}}-->
    <!--</div>-->
    <!--<div id="swagger-editor" class="" style="margin-right: auto;max-width: 880px;height: 100%;margin-left: auto;">-->
        <!--<script>-->
            <!--window.onload = function() {-->
                <!--// Build a system-->
                <!--const editor = SwaggerEditorBundle({-->
                    <!--dom_id: '#swagger-editor',-->
                    <!--layout: 'StandaloneLayout',-->
                    <!--presets: [-->
                        <!--SwaggerEditorStandalonePreset-->
                    <!--]-->
                <!--})-->
                <!--window.editor = editor-->
            <!--}-->
        <!--</script>-->
    <!--</div>-->
    <div id="swaggerEditer" class="containersss" editor-url='{{url "/themes/default/swaggereditor/#/"}}' style="display:none; z-index:9000; top:0; left:0; height:718px; width:100%;background:white">
        <input type="hidden" id="content" name="content" value="{{assets.content}}">

        <!--<textarea id="swaggercontent" name="swaggercontent" style="display: none;">{{assets.content}}</textarea>-->
        <!--<textarea type="hidden" id="swaggercontent" name="swaggercontent">{{assets.content}}</textarea>-->
        <!--<div id='swagger-viewer'>-->
            <!--<h2 class="field-title">-->
                <!--<a class="collapsing-h2" data-toggle="collapse" area-expanded="true" href="#collapseContent">-->
                    <!--<i class="cu-btn-exp-col btn-collapsed"> {{t "Content"}}</i>-->
                <!--</a>-->
            <!--</h2>-->
            <!--<div id="collapseContent" class="collapse in">-->
                <!--<textarea id="swaggercontent" name="swaggercontent">{{assets.content}}</textarea>-->
            <!--</div>-->
        <!--</div>-->
        <!--<input type="hidden" id="swaggercontent" name="swaggercontent" value="{{assets.content}}">-->


    <div class="clearfix"></div>
    <div id="updateButtons" class="form-actions">
        <input type="hidden" id="asset-id" value="{{assets.id}}">
        <input type="hidden" id="asset-type" value="{{assets.type}}">
        <div class="form-group">
            <div class="col-sm-10">
                <input type="submit" value="Update" class="btn btn-primary" name="editAssetButton" id="editAssetButton">
                <input type="reset" value="Reset" class="btn btn-secondary">
                <button type="button" id="btn-cancel-update" class="btn btn-secondary">{{t "Cancel"}}</button>
                <input type="hidden" value="{{rxt.shortName}}" name="{{rxt.shortName}}" id="meta-asset-type">
            </div>
        </div>
    </div>
</form>
</body>